<!--==============================
  Header Area
==============================-->
<header class="th-header header-layout1">
  <div class="sticky-wrapper">
    <div class="container">
      <div class="menu-area">
        <!-- Logo -->
        <div class="header-logo">
          <a routerLink="/"><img src="assets/img/logo.svg" alt="Logo"></a>
        </div>

        <!-- Navigation -->
        <div class="menu-area-wrap">
          <nav class="main-menu d-none d-lg-block">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>

              <li class="menu-item-has-children">
                <a href="#">Donations</a>
                <ul class="sub-menu">
                  <li><a routerLink="/donation">Donations</a></li>
                  <li><a routerLink="/donation-details">Donation Details</a></li>
                  <li><a routerLink="/donate-now">Donate Now</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item-has-children">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                      <li><a routerLink="/shop">Shop</a></li>
                      <li><a routerLink="/shop-details">Shop Details</a></li>
                      <li><a routerLink="/cart">Cart Page</a></li>
                      <li><a routerLink="/checkout">Checkout</a></li>
                      <li><a routerLink="/wishlist">Wishlist</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/team">Volunteers</a></li>
                  <li><a routerLink="/team-details">Volunteer Details</a></li>
                  <li><a routerLink="/add-team">Become A Volunteer</a></li>
                  <li><a routerLink="/gallery">Gallery</a></li>
                  <li><a routerLink="/pricing">Pricing</a></li>
                  <li><a routerLink="/faq">FAQS</a></li>
                  <li><a routerLink="/testimonial">Testimonials</a></li>
                  <li><a routerLink="/error">Error Page</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                  <li><a routerLink="/blog">Blog</a></li>
                  <li><a routerLink="/blog-details">Blog Details</a></li>
                </ul>
              </li>

              <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
          </nav>
        </div>

        <!-- Buttons -->
        <div class="header-button">
          <button class="icon-btn style2 d-none d-lg-block" (click)="toggleSearch()">
            <i class="far fa-search"></i>
          </button>
          <button class="icon-btn d-lg-none" (click)="toggleMenu()">
            <i class="far fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="th-menu-wrapper" [class.active]="isMenuOpen">
    <div class="th-menu-area text-center">
      <button class="th-menu-toggle" (click)="toggleMenu()"><i class="fal fa-times"></i></button>
      <div class="mobile-logo">
        <a routerLink="/"><img src="assets/img/logo.svg" alt="Logo"></a>
      </div>
      <div class="th-mobile-menu">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/donation">Donations</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Search Popup -->
  <div class="popup-search-box" [class.active]="isSearchOpen">
    <button (click)="toggleSearch()" class="searchClose"><i class="far fa-times"></i></button>
    <form>
      <input type="text" placeholder="What are you looking for?" />
      <button type="submit"><i class="fal fa-search"></i></button>
    </form>
  </div>
</header>
