<div class="overflow-hidden space" id="about-sec">
    <div class="shape-mockup about-bg-shape2-1 jump-reverse" data-top="10%" data-right="5%">
        <img src="img/shape/heart-shape1.png" alt="shape">
    </div>
    <div class="container">
        <div class="row gx-60 gy-60 align-items-center">
            <div class="col-xl-6 col-lg-10">
                <div class="img-box2">
                    <div class="img1">
                        <img src="img/normal/about_2_1.png" alt="About">
                    </div>
                    <div class="img2 jump">
                        <img src="img/normal/about_2_2.png" alt="About">
                    </div>
                    <div class="img3 moving" data-mask-src="img/normal/about_2_3-mask.png">
                        <img data-mask-src="img/normal/about_2_3-mask.png"
                             src="img/normal/about_2_3.png" alt="About">
                    </div>
                    <div class="about-shape2-1 jump">
                        <div class="color-masking">
                            <div class="masking-src" data-mask-src="img/shape/about_shape2_1.png"></div>
                            <img src="img/shape/about_shape2_1.png" alt="img">
                        </div>
                    </div>
                    <div class="about-shape2-2 jump-reverse">
                        <div class="color-masking2">
                            <div class="masking-src" data-mask-src="img/shape/about_shape2_2.png"></div>
                            <img src="img/shape/about_shape2_2.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-wrap2">
                    <div class="title-area mb-35">
                        <span class="sub-title after-none before-none">Welcome to Donet Charity</span>
                        <h2 class="sec-title">Transforming Lives,
                            One Donation at a Time</h2>
                        <p class="mt-30">Our secure online donation platform allows you to make contributions
                            quickly and safely. Choose from various payment methods and set up one-time or recurring
                            donations with ease. Your support helps us continue our mission.</p>
                    </div>
                    <div class="about-feature-grid">
                        <div class="box-icon">
                            <img src="img/icon/about-icon2-1.svg" alt="icon">
                        </div>
                        <div class="media-body">
                            <h4 class="box-title">Fundraising</h4>
                            <p class="box-text">Discover the inspiring stories of individuals and communities
                                transformed by our programs.</p>
                        </div>
                    </div>
                    <div class="about-feature-grid">
                        <div class="box-icon">
                            <img src="img/icon/about-icon2-2.svg" alt="icon">
                        </div>
                        <div class="media-body">
                            <h4 class="box-title">Donation Making</h4>
                            <p class="box-text">Our success stories highlight the real-life impact of your donations
                                and the resilience of those we help.</p>
                        </div>
                    </div>
                    <div class="btn-wrap mt-40">
                        <a href="about.html" class="th-btn">About More<i class="fas fa-arrow-up-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
