<div class="th-hero-wrapper hero-2" id="hero" data-bg-src="img/hero/hero_bg_2_1.png" data-overlay="gray">
    <div class="shape-mockup hero-shape-2-1 jump" data-top="14%" data-left="5%">
        <div class="color-masking">
            <div class="masking-src" data-mask-src="img/hero/hero-bg-shape2-1.png"></div>
            <img src="img/hero/hero-bg-shape2-1.png" alt="shape">
        </div>
    </div>
    <div class="shape-mockup hero-shape-2-2 jump-reverse" data-top="9%" data-left="45%">
        <img src="img/hero/hero-bg-shape2-2.png" alt="shape">
    </div>
    <div class="shape-mockup hero-shape-2-4 ripple-animation" data-bottom="15%" data-left="45%">
        <div class="color-masking">
            <div class="masking-src" data-mask-src="img/hero/hero-bg-shape2-4.png"></div>
            <img src="img/hero/hero-bg-shape2-4.png" alt="shape">
        </div>
    </div>
    
    
    <div class="shape-mockup hero-shape-2-8" data-top="0%" data-right="0%">
        <div class="color-masking2">
            <div class="masking-src" data-mask-src="img/hero/hero-bg-shape2-8.png"></div>
            <img src="img/hero/hero-bg-shape2-8.png" alt="shape">
        </div>
    </div>
    <!-- <div class="shape-mockup hero-shape-2-9" data-bottom="0%" data-left="0%" data-right="0">
        <img src="img/hero/hero-bg-shape2-9.png" alt="shape">
    </div> -->
    <div class="container">
        <div class="row gx-40 align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="hero-2-img">
                    <img src="img/hero/hero_thumb_1_1.jpg" alt="Image">
                    <div class="hero-2-shape" data-mask-src="img/hero/hero-thumb-shape2-1.png"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-style2">
                    <span class="sub-title after-none">Give Hope For Homeless</span>
                    <h1 class="hero-title">
                        <span class="title1">Change <span class="text-theme2">Lives</span>
                           
                        </span>
                        <span class="title2">with Your Gift</span>
                    </h1>
                    <p class="hero-text">Explore the variety of volunteer opportunities available. From event
                        planning and fundraising to fieldwork and administrative support</p>
                    <div class="btn-wrap">
                        <a href="about.html" class="th-btn">Discover Now<i
                                class="fa-solid fa-arrow-up-right ms-2"></i></a>
                        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style3 popup-video"><i
                                class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
